{% extends 'App::viewer_layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block content %}
<div class="container b-list">
    <ul>
    {% for document in documents %}
        <li><a href="{{path("view_document", {"id" : document.id})}}">{{document.title}}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}