HTML, BODY {
    position: relative;
    height: 90%;
}
.b-app-container {
    height: 100%;
    position: relative;
    background: #e5e5e5;
}

.b-line {
    margin-top: 300px;
    border-bottom: 1px solid #333;
    position: relative;
}

.b-axis {
    position: absolute;
    bottom: 0px;
}
.b-date-hint {
    position: absolute;
    border-left: 1px solid #555;
    bottom: -8px;
    height: 14px;
}
.b-date-hint-value {
    position: absolute;
    top: 20px;
    display: block;
    left: -30px;
}

/** Slider */
.b-scale-slider .ui-slider {
    position: absolute;
    left: 110px;
    height: 170px;
}

.b-scale-slider .b-scale-code {
    position: absolute;
}
.b-scale-slider .b-scale-code li {
    font-size: x-small;
    list-style: none;
    cursor: pointer;
    line-height: 18px;
}
.b-scale-slider .b-scale-code li:hover {
    color: #006dcc;
}

.b-scale-slider .b-scale-code .b-selected {
    font-weight: bold;
}