HTML, BODY {
    position: relative;
    height: 100%;
}
body {
    font-family: 'Trebuchet MS';
}
.b-layout {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.b-editor-container {
    position: relative;
    height: 100%;
}
.b-app-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* TOP PANEL */
.b-top-panel {
    height: 60px;
}
.b-logo {
    font-size: 26px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.b-main-bar {
    height: 50px;
    border: 2px solid #555;
    border-top: none;
    margin: 0px auto;
    float: none;
}

.b-line {
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 100px;
    width: 100%;
}
.b-axis {
    position: absolute;
    bottom: 0px;
}
.b-date-hint {
    position: absolute;
    border-left: 1px solid #555;
    bottom: -8px;
    height: 14px;
}
.b-date-hint-value {
    position: absolute;
    top: 20px;
    display: block;
    left: -30px;
}
.b-timline {
    cursor: move;
}

/** Slider */
.b-scale-slider {
    position: absolute;
    top: 70px;
}
.b-scale-slider .ui-slider {
    left: 110px;
    height: 170px;
}

.b-scale-slider .b-scale-code {
    position: absolute;
    top: 0px;
}
.b-scale-slider .b-scale-code li {
    font-size: x-small;
    list-style: none;
    cursor: pointer;
    line-height: 18px;
}
.b-scale-slider .b-scale-code li:hover {
    color: #006dcc;
}

.b-scale-slider .b-scale-code .b-selected {
    font-weight: bold;
}
/* Widget Panel */
.b-widget-panel {
    padding: 10px;
    border: 1px solid #ccc;
    position: absolute;
    width: 400px;
    right: 20px;
    top: 30px;
}
/* BEM IS HERE */
.b-editor {
    height: 100%;
    position: relative;
}
.b-editor__document-panel {
    float: left;
    height: 100%;
    background-color: #eee;
}
.b-editor__switcher {
    position: relative;
    height: 100%;
    width: 10px;
    float: left;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
    background: #e2e2e2;
}
.b-editor__workspace-content {
    height: 100%;
}
.b-editor__workspace {
    height: 100%;
}
.b-editor__hide-button {
    position: absolute;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 100%;
    background: url('../images/hide-arrow-left.png') no-repeat left center #eee; 
}
.b-editor__hide-button__right {
    background-image: url('../images/hide-arrow-right.png'); 
}
.b-editor__hide-button:hover {
    text-decoration: none;
}
.b-editor__content-editor {
    height: 100%;
    width: 100%;
    border: none;
    float: left;
    right: 0px;
    left: 0px;
}
.b-main-bar__item {
    padding-left: 7px;
    float: left;
    margin: 10px 0px 0px 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 20px;
}

.b-document-form {
    padding: 5px 5px 5px 10px;
}

/* ARTICLE */
.b-article-layout {
    height: 100%;
    width: 100%;
    position: relative;
}
.b-article-editor-area {
    background: #eee;
    position: relative;
    height: 100%;
}

.b-article-container {
    background: #fff;
    float: none;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.b-article-content {
    height: 100%;
    padding: 10px;
    margin-bottom: -20px;
}

/* EDITOR */
.b-editor-document-panel {
    border: 1px solid #ccc;
    left: 0px;
}
/* DIALOG */
.b-dialog {
    padding: 0px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;    
}

.b-dialog__title {
    background: #eee;
    font-size: 20px;
    padding: 10px 0px;
}

.b-dialog__title-text {
    margin: 0px;
    margin-left: 10px;
    float: left;
}
.b-dialog__close-button {
    float: right;
    margin-right: 10px;
    color: #333;
}
.b-dialog__close-button:hover {
    text-decoration: none;
}
.b-dialog__content {
    padding: 10px;
}

.b-dialog__buttons-panel {
    margin-top: 10px;
    background: #eee;
    padding: 10px;
    text-align: right;
}
.b-dialog__alert {
    height: 30px;
    padding: 3px;
}

.b-dialog__alert .alert {
    padding: 3px 10px 4px 6px;
    margin-bottom: 0px;
}