{% extends 'App::layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/app/js/vendors/jquery-ui/css/pepper-grinder/jquery-ui-1.10.1.custom.min.css') }}" />
{% endblock %}

    
{% block javascripts %}
    {{parent()}}
    <link href="/bundles/app/js/vendors/mercury/distro/mercury.bundle.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/bundles/app/js/vendors/jquery.js" type="text/javascript"></script>
    <script src="/bundles/app/js/vendors/mercury/distro/mercury.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            Mercury.init();
        });
    </script>
{% endblock %}

    
{% block content %}
<div class="b-test">
</div>
{% endblock %}